<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= content_tag( 'title', @title || 'UK Elections' ) %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<header>
			<%= content_tag( 'p', link_to( 'UK general election results 1832 - 2019', home_url ), :class=> 'site-title' ) %>
			<%= content_tag( 'p', "#{link_to( 'Years', year_list_url )} &mdash; #{link_to( 'General elections', general_election_list_url )} &mdash; #{link_to( 'Constituencies', constituency_list_url )} &mdash; #{link_to( 'Parties', party_list_url )} &mdash; #{link_to( 'Candidate names', letter_list_url ) }".html_safe ) %>
		</header>
		<main>
			<%= content_tag( 'h1', @title || 'UK Elections' ) %>
   	 		<%= yield %>
		</main>
		<footer>
			<%= content_tag( 'h2', 'Based on data from' ) %>
			<%= content_tag( 'p', "umit, r. 2022. uk house of commons election 
results at constituency level. harvard dataverse, version 4.0. 
available at #{link_to( 'https://doi.org/10.7910/DVN/S83HOA', 'https://doi.org/10.7910/DVN/S83HOA' )}.".html_safe ) %>
			<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
			  <a rel="license"
			     href="http://creativecommons.org/publicdomain/zero/1.0/">
			    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0" />
			  </a>
			</p>
			<%= content_tag( 'p', link_to( 'Meta', meta_list_url ) ) %>
		</footer>
	</body>
</html>
