<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= content_tag( 'title', @title || 'UK Elections' ) %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>
		body {font-family: system-ui,sans-serif;padding:0.25rem 0.75rem;font-size:1.2rem;line-height:1.4;max-width:48rem;margin:0.5rem auto;}
		cite {font-style: normal;}
		h1, h2 {font-weight:normal;}
		main {padding:2rem 0;}
		</style>
	</head>
	<body>
		<header>
			<%= content_tag( 'p', link_to( 'UK general election results 1832 - 2019', home_url ), :class=> 'site-title' ) %>
			<%= content_tag( 'nav', "#{link_to( 'Years', year_list_url )} &middot; #{link_to( 'General elections', general_election_list_url )} &middot; #{link_to( 'Constituencies', constituency_list_url )} &middot; #{link_to( 'Parties', party_list_url )} &middot; #{link_to( 'Candidate names', letter_list_url ) }".html_safe ) %>
			<h1><%= @title || 'UK Elections' %></h1>
		</header>
		<main>
			
   	 		<%= yield %>
		</main>
		<footer>
			<p>This is the <%= FEATURE_LEVEL %> website.</p>
		
			<p>Based on data from: <cite>Umit, Resul, 2022, <q>UK House of Commons Election Results at Constituency Level</q>, <a href="https://doi.org/10.7910/DVN/S83HOA">https://doi.org/10.7910/DVN/S83HOA</a>, Harvard Dataverse, V4, UNF:6:MsqT+6AwIpZsqDgcTVcV/A== [fileUNF]</cite></p>
			
			<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
			  <a rel="license"
			     href="http://creativecommons.org/publicdomain/zero/1.0/">
			    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0" />
			  </a>
			</p>
			<%= content_tag( 'p', link_to( 'Meta', meta_list_url ) ) %>
			<p>
				<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
				-
				<%= link_to( 'Cookies', meta_cookies_url )  %>
				-
				<a href="https://commonslibrary.parliament.uk/privacy-policy/">Privacy notice</a>
			</p>
		</footer>
	</body>
</html>
